<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <display-name>Webapp Java</display-name>
  <description>Application demo</description>

  <context-param>
    <param-name>app.version</param-name>
    <param-value>1.0.0</param-value>
  </context-param>

  <context-param>
    <param-name>app.name</param-name>
    <param-value>Webapp Java</param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Métriques Prometheus -->
  <!-- Au démarrage : enregistre les collecteurs JVM (heap, GC, threads, CPU...). -->
  <listener>
    <listener-class>com.devops.MetricsInitializer</listener-class>
  </listener>

  <!-- Compteur applicatif app_http_requests_total : incrémenté à chaque requête. -->
  <filter>
    <filter-name>metrics-counter</filter-name>
    <filter-class>com.devops.MetricsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>metrics-counter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Endpoint /metrics scrapé par Prometheus (ServiceMonitor -> port http 8080). -->
  <servlet>
    <servlet-name>metrics</servlet-name>
    <servlet-class>io.prometheus.client.exporter.MetricsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>metrics</servlet-name>
    <url-pattern>/metrics</url-pattern>
  </servlet-mapping>

</web-app>
